body{
  background-color: white;
}



.marking {
  width: 544px;
  margin: auto;
  padding-top: 100px;
  position: relative;
}

#chess{
  width: 496px;
  display: flex;
  flex-wrap: wrap;
  /*border: 2px outset #151313;*/
  margin: 10% auto 0;
  -webkit-box-shadow: 0px 2px 33px 5px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 33px 5px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 33px 5px rgba(0,0,0,0.75);
}

#chess .row{
  line-height: 1px;
  display: flex;
}

.box{
  display: flex;
  width: 62px;
  height: 62px;
  align-items: center;
  justify-content: center;
  font-size: 40px;
}
.border{
  display: flex;
  background-color: #787575;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  position: absolute;
  color: #d4d4d4;

}
.horisontal-top{
  height: 40px;
  width: 496px;
  flex-direction: row;
  left: 24px;
  top: 97px;
  border-bottom: 2px solid #4b4747;

}
.vertical-left{
  flex-direction: column-reverse;
  left: -16px;
  width: 40px;
  height: 579px;
  box-sizing: border-box;
  top: 97px;
  border-right: 2px solid #4b4747;
  padding: 36px 0;

}
.vertical-right{
  bottom: -58px;
  flex-direction: column-reverse;
  right: -16px;
  width: 40px;
  height: 579px;
  border-left: 2px solid #4b4747;
  padding: 36px 0;
  box-sizing: border-box;
}
.horisontal-bottom{
  bottom: -58px;
  height: 40px;
  width: 496px;
  flex-direction: row;
  right: 24px;
  border-top: 2px solid #4b4747;

}
#chess .row:nth-child(odd) .box:nth-child(even),
#chess .row:nth-child(even) .box:nth-child(odd){
  background-color: #787575;
}
#chess .row:nth-child(even) .box:nth-child(even),
#chess .row:nth-child(odd) .box:nth-child(odd){
  background-color: #faf5f5;
}